.card {
  padding: 20px;
  border: 1px solid #c9c9c9;
  border-radius: 7px;
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.15);
  height: auto;
  word-wrap: break-word;
  box-sizing: border-box;
  height: 100%;
  text-align: center;
}

.card img {
  border-radius: 7px 7px 0 0;
  max-width: 100%;
}

.card h3 {
  color: white;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
}

.card p {
  color: #757575;
  margin: 0.7rem auto;
}

.user {
  width: 30rem;
  margin: 1rem;
  background: var(--body-background-color);
  padding: 0.8rem;
  box-shadow: 0 2px 7px 3px var(--body-color);
}
.user__name {
  font-size: 2rem;
  color: #fff;
  letter-spacing: 1px;
}

.user__image {
  width: 100%;
  height: auto;
  border: none;
  margin-bottom: 2rem;
}

.user__details span {
  display: block;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}
